<app-child 
(clicked)="onMyParentClicked($event)"
(addition)="onMyParentAdditionClicked($event)"
(subtraction)="onMyParentSubtractionClicked($event)"
(multiplication)="onMyParentMultiplicationClicked($event)"
(division)="onMyParentDivisionClicked($event)"
(rectangle)="onMyParentRectangle($event)"
(square)="onMyParentSquare($event)"
(circle)="onMyParentCircle($event)"
></app-child>
<h1>This is a parent component. Data is coming from child ::{{value}}</h1>

<hr/>

<h1>The Result would be :: {{result}}</h1>